<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Register Now</h5>
        <br/>
        <form method="POST" action= "/register">
          <label for="email">User Email: </label>
          <input name="email" type="email"/>
          <label for="password">Password: </label>
          <input name="password" type="password"/>
          <button type="submit">Register</button>
        </form>
      </div>
  </div>
</body>
</html>