<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h2>Login to your existing account</h2>
  <form method="POST" action="/login">
    <label for="email">User Eamil</label>
    <input id="email" type="email" name="email"/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password"/>
      <button type="submit">Login</button>
    </form>
</body>
</html>